.navbar.navbar-custom {
  background-color: transparent !important;
  color: #008080 !important;
}

.navbar-custom .navbar-brand {
  color: #008080 !important;
}

.navbar-custom .nav-link {
  color: #008080 !important;
}




