.navbar.navbar-custom {
    background-color: #808 !important;
    color: #fff !important;
  }
  
  .navbar-custom .navbar-brand {
    color: #fff;
  }
  
  .navbar-custom .nav-link {
    color: #ddd;
  }
  
  .navbar-custom .nav-link:hover {
    color: #fff;
    background-color: #555;
  }
  
  
  