{% extends "coderedcms/pages/web_page.html" %}
{% load wagtailcore_tags coderedcms_tags django_bootstrap5 %}

{% block content_body %}
{{ block.super }}
{% if page.form_live %}
<div class="container my-5">
  <script type="text/javascript">
      let captcha_key = "{{settings.website.CustomSetting.captcha}}"
      let captcha = false;
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : captcha_key
        });
      };
      var onRecaptchaSuccess = function() {
        captcha = true;
      };
      var validateForm = function() {
        if(!captcha){
          document.getElementById("html_element").scrollIntoView();
          return true
        }
        return captcha
      }
    </script>

    <style>
      input[type="text"], input[type="email"], input[type="tel"]{
      width: 75% !important;
    }

    input[type="number"]{
      width: 60% !important;
    }

    </style>
  <form onsubmit="return validateForm()" class="{{ page.form_css_class }}" id="submit_form" action="{% pageurl self %}" method="POST" {% if form|is_file_form %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}

    {% block captcha %}
    {% if page.spam_protection %}
    {% include "coderedcms/includes/form_honeypot.html" %}
    {% endif %}
    {% endblock %}


    <style>
      .container h1{
        color : #008080 !important
      }

      #submit_form input[type="text"], input[type="email"], input[type="tel"]{
      width: 100% !important;
    }

    
    #submit_form{
      padding:20px !important;
      background-color: rgb(253, 253, 253) !important;
      border-radius: 10px !important;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
      max-width: 800px !important; 
      margin: 0 auto !important;
    }

    #submit_form input[type="checkbox"]{
      margin-left: -5px;
    }


    #submit_form input[type="checkbox"]:checked{
      width: 16px !important;
      height: 16px !important;
      background-color: #008080 !important;
      color: #FFFFFF !important;
    }

    #submit_form button{
      margin-top: 5px !important;
    }

    .form-check-label{
      margin-left: 20px !important;
    }

    #submit_form label{
     color: 
     #008080 !important
    }

    #submit_button{
            border: 2px solid #013d4a !important;
            font-weight: 700!important;;
            color: #013d4a !important;;
            padding: 8px 15px !important;
            margin-left: 2px !important;
          }
          #submit_button:hover{
            background-color: #013d4a !important;;
            border:2px solid #013d4a !important;;
            color: white !important;;
          }

    </style>


    <div class="row">
      <div class="{{'horizontal_label_class'|bootstrap_settings}}"></div>
      <div class="{{'horizontal_field_class'|bootstrap_settings}}">

        <div
          id="html_element"
          data-sitekey="{{settings.website.CustomSetting.captcha}}"
          data-callback="onRecaptchaSuccess"
        ></div>
        <button type="submit" class=" btn btn-custom-style rounded {{page.button_css_class}}" id="submit_button">
          {{ page.button_text }}
        </button>
      </div>
    </div>
  </form>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    </script>
{% endif %}
{% endblock %}
