{% load wagtailcore_tags wagtailimages_tags %}
<style>
.card-custom-border {
    border-radius: 50px 0 50px 0; 
    transition: all 0.15s ease;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Default to column for mobile */
}

.custom-border {
    border-radius: 50px 0 50px 0; 
    transition: all 0.15s ease;
    overflow: hidden;
    flex: 1; /* Allow image to grow */
}

.special-custom-border {
    border-radius: 0; 
    transition: all 0.15s ease;
    overflow: hidden;
    flex: 1; /* Allow image to grow */
}

.card-custom-border:hover .custom-border {
    border-radius: 0; /* Set border-radius to 0 on card hover */
}

.card-custom-border:hover .speical-custom-border {
    border-radius: 0; /* Set border-radius to 0 on card hover */
}

.custom-border img {
    transition: transform 0.15s ease; 
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

.custom-border img:hover {
    transform: scale(1.03); /* Scale image on hover */
}

.special-custom-border img {
    transition: transform 0.15s ease; 
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

.card-custom-border:hover {
    border-radius: 0 0 50px 0; 
}

.footer-border-radius {
    border-radius: 0 0 50px 0; 
}

/* Change heading color */
.card-title, .card-subtitle {
    color: #00b9b9 !important; 
}

/* Change paragraph color */
.card-text {
    color: #575756; 
}

.card-body {
    flex: 1; /* Content takes the remaining space */
    padding: 20px; /* Add some padding */
}

/* Layout for the special image card */
.special-card-layout {
    display: flex; /* Flex layout for the special image card */
}
.special-card-border{
  border-radius: 0px; 
    transition: all 0.15s ease;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Default to column for mobile */
}

/* Responsive styles */
@media (min-width: 992px) {
    .special-card-layout {
        flex-direction: row; /* Row layout for larger screens */
    }
}

@media (max-width: 991px) {
    .special-card-layout {
        flex-direction: column !important; /* Stack the image and text on smaller screens */
    }
}

</style>

<div class="card card-custom-border mb-3 {{ self.settings.custom_css_class }}" {% if self.settings.custom_id %}id="{{ self.settings.custom_id }}"{% endif %} {% if self.image %}
  {% image self.image fill-800x450 format-webp as card_img %}
  {% if card_img.url != '/media/images/Mission_Vision__Value.2e16d0ba.fill-800x450.format-webp.webp' %} style="min-height: 580px;" {% endif %} 
  {% if card_img.url == '/media/images/Mission_Vision__Value.2e16d0ba.fill-800x450.format-webp.webp' %} style="background-color: transparent !important;border-radius: 0 !important;" {% endif %} 
{% endif %}>
  
  {% if self.image %}
    {% image self.image fill-800x450 format-webp as card_img %}
    
    {% if card_img.url == '/media/images/Mission_Vision__Value.2e16d0ba.fill-800x450.format-webp.webp' %}
      <div class="special-card-layout">
        <div class="special-custom-border">
          <img class="special-card-border" src="{{ card_img.url }}" alt="{{ card_img.title }}">
        </div>
        <div class="card-body">
          {% if self.title %}
            <h5 class="card-title">{{ self.title }}</h5>
          {% endif %}
          
          {% if self.subtitle %}
            <h6 class="card-subtitle mb-2">{{ self.subtitle }}</h6>
          {% endif %}
          
          <div class="card-text">{{ self.description }}</div>
        </div>
      </div>
    {% else %}
      <div class="custom-border">
        <img class="card-img-top" src="{{ card_img.url }}" alt="{{ card_img.title }}">
      </div>
      <div class="card-body">
        {% if self.title %}
          <h5 class="card-title">{{ self.title }}</h5>
        {% endif %}
        
        {% if self.subtitle %}
          <h6 class="card-subtitle mb-2">{{ self.subtitle }}</h6>
        {% endif %}
        
        <div class="card-text">{{ self.description }}</div>
      </div>
    {% endif %}
  {% endif %}
  
  <div class="card-footer footer-border-radius">
    {% for button in self.links %}
      {% include_block button %}
    {% endfor %}
  </div>
</div>
