{% load wagtailcore_tags coderedcms_tags django_bootstrap5 custom_tags %}
{% get_contact_form as contact %}
  <script type="text/javascript">
      let captcha_key = "{{settings.website.CustomSetting.captcha}}"
      let captcha = false;
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : captcha_key
        });
      };
      var onRecaptchaSuccess = function() {
        captcha = true;
      };
      var validateForm = function() {
        return true
        if(!captcha){
          document.getElementById("html_element").scrollIntoView();
          return false
        }
        return captcha
      }

    </script>
  <form class="{{ contact.form_css_class }}" id="submit_form" action="{{form_url}}" method="POST" >
    {% csrf_token %}

    {% bootstrap_form contact layout="horizontal" show_label='skip' horizontal_field_class='sm-col-12'%}

    {% block captcha %}
    {% if page.spam_protection %}
    {% include "coderedcms/includes/form_honeypot.html" %}
    {% endif %}
    {% endblock %}

    <div class="row">
      <div class="{{'horizontal_label_class'|bootstrap_settings}}"></div>
      <div class="{{'horizontal_field_class'|bootstrap_settings}}">

        <div
          id="html_element"
          data-sitekey="{{settings.website.CustomSetting.captcha}}"
          data-callback="onRecaptchaSuccess"
        ></div>
        <button type="submit" class="btn btn-primary" id="submit_button">
          Submit
        </button>
      </div>
    </div>
  </form>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    </script>

